<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<title>Movie Reviews</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">MReview</a>
        </nav>
        <div class="noReviews">
            <img class="oops" src="https://images-na.ssl-images-amazon.com/images/I/418Jmnejj8L._AC_.jpg"/>
            <h3>
                <i class="text-danger">'<%= movieTitle %>'</i> has not reviews
            </h3>
        </div>

<%- include("partials/footer") %>