body {
    margin: 0;
}

.navbar {
    margin: 0;
    position: fixed;
    background-color: #dcddde;;
    width: 100%;
    border-radius: 0;
}

.form-inline {
    margin: 8px;
    float: right;
}

button {
    color: black;
}

#welcomePage {
    background-image: url("https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 55px;
    padding-top: 170px;
}

.container-fluid {
    margin: 20px;
    background-color:#F5F5F5;
    padding: 10px;
    border-radius: 5px;
}

.descriptions {
    padding-top: 65px;
}

ul {
    list-style: none;
}

h2 {
    margin: 0;
    padding-top: 65px;
    padding-left: 50px;
}

h3 {
    margin: 25px 0 0 0;
    text-align: center;
}
.noReviews {
    height: 90vh;
    padding-top: 130px;
}


img {
    width: 200px;
    height: 300px;
}

.oops {
    width: 550px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

strong.title {
    font-size: 30px;
}

input.submit {
    float: right;
}

.btn {
    float: right;
    margin: 10px
}

.btn-success {
    margin: 0 0 0 10px;
}